@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');


.centerA   {
  
    width: fit-content;
    margin-bottom: 20px;
    background-color: blue;
    padding: 5px  20px;
    color: white;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 6px;
  
  }



.centerA  img {
  
  margin-right: 5px;  
  height: 20px;

}

.editImg {
  
    width: fit-content;
    margin-bottom: 20px;
    background-color: blue;
    padding: 5px  20px;
    color: white;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 6px;

}

.editImg  img{

    margin-right: 5px;  
    height: 20px; 


}

.Delete{


    width: fit-content;
    margin-bottom: 20px;
    background-color: blue;
    padding: 5px  20px;
    color: white;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 6px;

}

.Delete  img{
    
    margin-right: 5px;  
    height: 20px; 

}